body {
  background-color: #f2f2f2;
  background-image: url("/static/fondo08.jpg");
  background-size: cover;
}

.login-box {
  width: 300px;
  margin: 70px auto;
  background-color: #305729;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}